extends layout 

block content 
    title Sign Up
    h1 Sign Up 
    form(method="POST" action="/register") 
        input(type="text" name="username" placeholder="Username") 
        input(type="password" name="password" placeholder="Password") 
        input(type="submit" value="Sign Up")