* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 2rem auto;
  width: 95%;
}

.goals {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: rgb(139, 139, 240);
}


